@tailwind base;
@tailwind components;
@tailwind utilities;

*, body {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}

body {
    @apply bg-gray-200 overflow-hidden max-sm:overflow-auto;
    /* direction: rtl; */
    /* implement hebrew */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-200
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}